@media (min-width: 601px){
    :root {
    --large-screen-color: linear-gradient(to right, #203a63 70%, #31525f);
    }

    .menu-icon {
        display: none;
    }

    .menu-list {
        display: flex;
        justify-content: space-evenly;
    }

    .menu-list li{
        list-style: none;
    }

    .profile-name {
        font-size: 2rem;
    }

    /* --------------- GRID CONTAINERS ----------------------- */
    .grid-container-1 {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .course-work-section {
        grid-column: 1/2;
    }

    .home-country-section {
        grid-column: 2/3;
    }


    #course-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto; 
    gap: 20px;
    }

    .course-item {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 20px;
    }


    footer {
        height: 20vh;
    }


    /* ---------- header colors ------ */
    header {
        background: var(--large-screen-color)
    }

    .course-work h3{
        background-color: #203a63;
    }

    .home-country h3 {
        background: var(--large-screen-color);
    }

    .certificate-section h3 {
        background: var(--large-screen-color);
    }

    footer {
        background: var(--large-screen-color);
    }
}
