body {
    background-color: rgb(36, 36, 36);
}


/* title */
.h1-title {
    color: rgb(206, 206, 206);
}
#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.prophet-card {
    color: rgb(225, 225, 225);
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    background: rgb(75, 75, 75);
    margin: 10px;
    box-shadow: 0 5px 10px#000000;
}

/* footer */
footer {
    color: rgb(197, 197, 197);
}