:root {

    /* COLORS */
    --first-color: linear-gradient(to right, #203a63, #31525f);

    /* FONTS */
    --first-font: "Roboto", sans-serif;
}


/*---------- PROFILE SECTION--------------------*/
.profile-section {
    display: flex;
    justify-content: center;
}

.profile-pic {
    margin: 10px;
    padding: 0;
    box-shadow: 0px 4px 8px;
}

header {
    background: var(--first-color)
}

.profile-name {
    align-content: center;
    font-family: var(--first-font);
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 24px;
}


/* ---------- MENU SECTION --------------- */
.menu-list {
    background-color: black;
    padding: 10px;
}

.menu-list li{
    font-family: var(--first-font);
}

.menu-list a{
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: 300;
    font-style: normal;
}


.menu-list a:hover {
    color: gold;
    padding: 1px;
}

.menu-item.active {
    color: gold; /* Active color */
    font-weight: bold; /* Optional */
    border-bottom: 2px solid #3498db; /* Optional wayfinder style */
}



/* ---------- COURSE SECTION ---------------- */
.course-work-section {
    box-shadow: 0 0 8px;
    border-radius: 10px 10px 0 0;
    margin: 10px;
}

.course-work h3{
    font-family: var(--first-font);
    color: white;
    font-weight: 100;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.course-list p{
    font-family: var(--first-font);
    background-color: rgb(120, 56, 10);
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    border: rgba(0, 0, 0, 0.239) solid 1px;
    margin: 8px;
}


.course-item {
    padding: 10px;
    margin: 5px 10px;
    background: #ffffff;
    border: 1px solid #afafaf;
    border-radius: 5px;
    text-align: center;
    font-family: var(--first-font);
    cursor: pointer;
    
    
}

.course-item:hover, .course-item.completed:hover {

    background: linear-gradient(rgb(121, 255, 121), rgb(66, 137, 59));
    border: 1px solid #000000;
    animation-name: shakeresize;
    animation-duration: .5s;
    
}

.course-item.completed {
    background: #d0ffd0;
    border: 1px solid #5cb85c;
}

@keyframes shakeresize {
    50%{
        scale: 1.2;
    }
    20%, 60%{
        transform: rotate(2deg)
    }
    40%, 80%{
        transform: rotate(-2deg)
    }
    
}

/* ------------ HOME SECTION ----------------- */

.home-country-section {
    margin: 10px;
    box-shadow: 0 0 8px;
    border-radius: 10px 10px 0 0;
}

.home-country h3{
    background: var(--first-color);
    font-family: var(--first-font);
    color: white;
    font-weight: 100;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.home-country{
    text-align: center;
}

.home-country img{
    width: 70%;
    height: auto;
    margin-top: 8px;
}

.home-country-section p {
    color: rgb(0, 0, 0);
    text-align: center;
}


/* -------------- CERTIFICATE SECTION ----------------------- */
.certificate-section {
    margin: 10px;
    box-shadow: 0 0 8px;
    border-radius: 10px 10px 0 0;
}

.certificate-section h3 {
    font-family: var(--first-font);
    background: var(--first-color);
    color: white;
    font-weight: 100;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}




/* ----------------- FILTER SECTION ----------------- */
.filter-buttons{
    display: flex;
    margin: 10px;
    justify-content: center;
}
.filter-buttons button{
    background-color: black;
    color: white;
    justify-content: space-around;
    width: 150px;
    border-radius: 5px;
    margin: 1px;
}

.filter-buttons button:hover {
    color: gold;
}

hr {
    margin: 10px;
}

/* ------------------- FOOTER ------------------- */
footer{
    background: var(--first-color);
    font-family: var(--first-font);
    text-align: center;
    height: 100%;
    color: white;

}

footer img {
    height: 40px;
    margin-left: 10px;
}

.footer-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}


/* ------------------- MODAL ------------------- */

.course-modal {
    padding: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 80%;
}

.close-button {
    display: block;
    background: #f44336;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 0 0 90%;
}

.close-button:hover {
    background: #d32f2f;
}

#course-details::backdrop {
    background: rgb(0, 0, 0);
    opacity: .8;
}

#modal-title {

    border-radius: 0;
}

@keyframes shake {
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
}
